			/*body {
				font-family: 'Average Sans', sans-serif;
				cursor: default;
				margin: 0px;
			}
			::-webkit-scrollbar {
  				width: 2px;
			}
			::-webkit-scrollbar-track {
  				background: none; 
			}
			::-webkit-scrollbar-thumb {
  				background: #888;
  				opacity: 10;
			}
			::-webkit-scrollbar-thumb:hover {
  				background: #555;
  				opacity: 10;
			}
			#logo {
				width: 9vw;
				height: 9vw;
			}
			#option {
				width: 8vw;
				height: 8vw;
			}
			#import_plhd {
				font-size: 20vh;
				width: 75vh;
			}
			#mnt, #scnd {
   				-webkit-touch-callout: none;
    			-webkit-user-select: none;
     			-khtml-user-select: none;
       			-moz-user-select: none;
        		-ms-user-select: none;
            	user-select: none;
			}
			#ispt_display {
				color: #FF0000;
   				-webkit-touch-callout: none;
    			-webkit-user-select: none;
     			-khtml-user-select: none;
       			-moz-user-select: none;
        		-ms-user-select: none;
            	user-select: none;
			}
			
			#stats {
				padding: 5px;
				font-family: monospace;
				font-size: 12px;
			}
			#stat_td {
				position: fixed;
				display: flex;
				align-items: center;
				margin: 0;
				padding: 0;
			}
			.statTd_td {
				width: fit-content;
				width: moz-fit-content;
				background: inherit;
				font-size: 15px;
			}
			#solve_table {
				border: none; 
				border-width: 1px;
				text-align: left;
				padding-left: 3px;
				padding-right: 3px;
				line-height: 1.5;
			}
			#times_container {
				font-family: 'Roboto', sans-serif;
				padding-left: 2px;
				padding-right: 2px;
			}
			#scram_td {
				position: fixed;
				padding-top: 3%;
				padding-bottom: 1%;
			}
			#close_about_but:hover {
				cursor: pointer;
			}
			#close_opt_but:hover {
				cursor: pointer;
			}
			#close_stat_but:hover {
				cursor: pointer;
			}
			#close_solve_but:hover {
				cursor: pointer;
			}
			#scram_type {
				border: none;
				font-size: 15px;
				-moz-appearance: none;
				-webkit-appearance:none;
				appearance: none;
			}
			#scram_type::-ms-expand {
				display: none;
			}
			#last_scram_btn:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#next_scram_btn:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#scram_con {
				padding-right: 5%;
				padding-left: 5%;
				min-height: 6vh;
				max-height: 35vh;
				vertical-align: center;
				text-align: center;
			}
			#scram {
				font-size: 2vw;
				font-family: monospace;
			}
			#cur_single:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_mo3:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao5:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao12:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao50:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao100:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao200:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao500:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao1000:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_single:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_mo3:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao5:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao12:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao50:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao100:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao200:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao500:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao1000:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#mean_stat:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#choose_session {
				border-style: block;
				font-size: 15px;
				-moz-appearance: none;
				-webkit-appearance:none;
				appearance: none;
			}
			#choose_session::-ms-expand {
				display: none;
			}
			#draw_scram_dialog {
				font-size: 2.4vh;
				border-width: 0;

				position: fixed;
			}
			#set_ok:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#set_p2:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#set_dnf:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			.solve_dp:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#solve_dialog {
				padding-top: 1vh;
				border-width: 2px;
				width: 400px;
				height: 370px;
				top: 20vh;
			}
			.solve_pen:hover {
				cursor: pointer;
  				text-decoration: underline;
			}
			.fa {
				font-family: Arial;
			}
			.fa:hover {
  				cursor: pointer;
  				text-decoration: underline;
			}
			.theme:hover {
				cursor: pointer;
  				text-decoration: underline;
			}
			.sel {
				cursor: pointer;
				-moz-appearance: none;
				-webkit-appearance:none;
				appearance: none;
			}
			#reset_ses {
				background-color: #222222;
                border: none;
                color: white;
                padding: 2px 3px;
                text-align: center;
                font-size: 10px;
                cursor: pointer;
            }
            #add_ses {
				background-color: #222222;
                border: none;
                color: white;
                padding: 2px 3px;
                text-align: center;
                font-size: 10px;
                cursor: pointer;
            }
            #del_ses {
				background-color: #222222;
                border: none;
                color: white;
                padding: 2px 3px;
                text-align: center;
                font-size: 10px;
                cursor: pointer;
                }*/

                /* vertical or horizontal screen */
                /*@media only screen and (max-width: 800px) {*/ /* vertical */
				/*#logo {
					width: 9vw;
					height: 9vw;
				}
				#option {
					width: 8vw;
					height: 8vw;
				}
				#stat_td {
					bottom: 0;
					right: 0;
					width: fit-content;
					width: moz-fit-content;
					height: 230px;
					flex-direction: row;
				}
				#solve_table {
					height: 238px;
					border: none; 
					border-width: 1px;
					text-align: left;
					padding-left: 3px;
					padding-right: 3px;
					line-height: 1.5;
				}
				#times_container {
					height: calc(100% - 30px);
				}
				.statTd_td {
					background: inherit;
					font-size: 13px;
				}
				#scram_td {
					top: 0;
					right: 0;
					width: 85vw;
					padding-top: 3%;
					padding-bottom: 1%;
				}
				#scram_con {
					padding-right: 5%;
					padding-left: 5%;
					min-height: 6vh;
					max-height: 35vh;
					vertical-align: center;
					text-align: center;
				}
				#draw_scram_dialog {*/
					/*min-width: 200px;
					width: fit-content;
					width: moz-fit-content;*/
					/*width: calc(100vw - 255px);*/
					/*min-width: 200px;
					min-height: 165px;
					width: fit-content;
					width: moz-fit-content;
					height: fit-content;
					height: moz-fit-content;
					position: fixed;
					bottom: 1px;
					left: 0;
				}
				#time_td {
					position: fixed;
					top: 0;
					left: 0;
					font-size: 90px;
					display: flex;
  					justify-content: center;
	  				align-items: center;
  					width: 100vw;
					height: 100vh;
					z-index: -1;
				}
				#about_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 80vw;
					height: 400px;
				}
				#option_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 80vw;
					height: 400px;
				}
				#stat_dialog {
					top: 10%;
					padding-top: 0px;
					border-width: 2px;
					width: 90vw;
					height: 500px;
					opacity: 0.99;
				}
			}

			@media only screen and (min-width: 801px) {*/ /* horizontal */
				/*#logo {
					width: 4.5vw;
					height: 4.5vw;
				}
				#option {
					width: 4vw;
					height: 4vw;
				}
				#stat_td {
					height: 100vh;
					position: fixed;
					top: 0;
					right: 0;
					flex-direction: column;
					padding-top: 10px;
				}
				.statTd_td {
					background: inherit;
					font-size: 15px;
				}
				#solve_table {
					height: calc(100vh - 300px);
					width: 196px;
					border: none;
					text-align: left;
					padding: 0;
					line-height: 1.5;
				}
				#times_container {
					height: calc(100vh - 300px - 70px);
				}
				#scram_td {
					bottom: 0;
					left: 200px;
					width: calc(100vw - 196px - 200px);
					padding-top: 3%;
					padding-bottom: 1%;
				}
				#scram_con {
					margin: auto;
					width: 80%;
					min-height: 6vh;
					max-height: 35vh;
					vertical-align: center;
					text-align: center;
				}
				#draw_scram_dialog {
					min-width: 200px;
					min-height: 165px;
					width: fit-content;
					width: moz-fit-content;
					height: fit-content;
					height: moz-fit-content;
					position: fixed;
					bottom: 0;
					left: 0;
					display: flex;
  					justify-content: center;
  					align-items: center;
				}
				#time_td {
					position: fixed;
					top: 0;
					left: 0;
					font-size: 150px;
					display: flex;
  					justify-content: center;
	  				align-items: center;
  					width: 100vw;
					height: 100vh;
					z-index: -1;
				}
				#about_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 40vw;
					height: 400px;
				}
				#option_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 40vw;
					height: 400px;
				}
				#stat_dialog {
					top: 10%;
					padding-top: 0px;
					border-width: 2px;
					width: 60vw;
					height: 500px;
					opacity: 0.99;
				}

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}*/

::-webkit-scrollbar {
	display: none;
}
::-webkit-scrollbar-track {
	background: none; 
}
::-webkit-scrollbar-thumb {
	display: none;
}
::-webkit-scrollbar-thumb:hover {
	display: none;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "Arial";
}

body {
	display: flex;
  justify-content: center;
  align-items: center;
}

button {
	border: none;
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
}
.session-but {
	height: 2rem;
	line-height: 2rem;
	border: none;
	font-size: 1rem;
	padding: 0 0.1rem 0 0.1rem;
	text-align: center;
	cursor: pointer;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: inherit;
	cursor: pointer;
}

th, td {
	padding: 0.02rem;
	text-align: center;
}

#scram_con {
	padding-left: 2rem;
	padding-right: 2rem;
	font-family: monospace;
	max-height: 30vh;
}

#scram_type {
	font-family: monospace;
}

#draw_scram_dialog {
	text-align: left;
}

.wca_draw_div svg {
	display: flex;
}

button, #mnt, #two_dot, #scnd, #hide_text, #ispt_display,
#logo, #option, #div_scram_type, #toggle_statTd, #stat_td,
#option_dialog, #about_dialog {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
 	user-select: none;
}

#ispt_display {
	color: #FF0000;
}

.link {
	font-style: italic;
}

.hover {
	cursor: pointer;
}

/* LOADING SCREEN */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #FFFFFF;

	display: flex;
	justify-content: center;
	align-items: center;
}