body {
				font-family: Arial;
				cursor: default;
				margin: 0px;
			}
			::-webkit-scrollbar {
  				width: 4px;
			}
			::-webkit-scrollbar-track {
  				background: none; 
			}
			::-webkit-scrollbar-thumb {
  				background: #888;
  				opacity: 10;
			}
			::-webkit-scrollbar-thumb:hover {
  				background: #555;
  				opacity: 10;
			}
			#logo {
				width: 9vw;
				height: 9vw;
			}
			#option {
				width: 8vw;
				height: 8vw;
			}
			#import_plhd {
				font-size: 20vh;
				width: 75vh;
			}
			#time_td {
				position: fixed;
				width: 100%;
				height: 100%;
				font-size: 90px;
				padding-top: 15vh;
			}
			
			#stats {
				padding: 5px;
				font-family: monospace;
				font-size: 2vh;
			}
			#stat_td {
				position: fixed;
				display: flex;
				align-items: center;
				margin: 0;
				padding: 0;
			}
			.statTd_td {
				width: 98%;
				background: inherit;
				font-size: 12px;
			}
			#solve_table {
				height: 230px;
				border: none; 
				border-width: 1px;
				text-align: left;
				padding-left: 3px;
				padding-right: 3px;
				line-height: 1.5;
			}
			#times_container {
				height: 140px;
			}
			#scram_td {
				position: fixed;
				padding-top: 3%;
				padding-bottom: 1%;
			}
			#close_about_but:hover {
				cursor: pointer;
			}
			#close_opt_but:hover {
				cursor: pointer;
			}
			#close_stat_but:hover {
				cursor: pointer;
			}
			#close_solve_but:hover {
				cursor: pointer;
			}
			#scram_type {
				border: none;
				font-size: 2.4vh;
				-moz-appearance: none;
				-webkit-appearance:none;
				appearance: none;
			}
			#scram_type::-ms-expand {
				display: none;
			}
			#stop_timer {
				border: none;
				font-size: 1pt;
				cursor: default;
			}
			#last_scram_btn:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#next_scram_btn:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#scram_con {
				padding-right: 5%;
				padding-left: 5%;
				min-height: 6vh;
				max-height: 35vh;
				vertical-align: center;
				text-align: center;
			}
			#scram {
				font-size: 2vw;
				font-family: monospace;
			}
			#reset_ses:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_single:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_mo3:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao5:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao12:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao50:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao100:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao200:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao500:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#cur_ao1000:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_single:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_mo3:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao5:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao12:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao50:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao100:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao200:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao500:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#best_ao1000:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#mean_stat:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#choose_session {
				border-style: block;
				font-size: 2.4vh;
				-moz-appearance: none;
				-webkit-appearance:none;
				appearance: none;
			}
			#choose_session::-ms-expand {
				display: none;
			}
			#draw_scram_dialog {
				background: none;
				font-size: 2.4vh;
				border-width: 0;

				position: fixed;
			}
			#del_last:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#set_ok:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#set_p2:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#set_dnf:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			.solve_dp:hover {
				cursor: pointer;
				text-decoration: underline;
			}
			#solve_dialog {
				top: 20%;
				padding-top: 1vh;
				border-width: 2px;
			}
			.solve_pen:hover {
				cursor: pointer;
  				text-decoration: underline;
			}
			.fa {
				font-family: Arial;
			}
			.fa:hover {
  				cursor: pointer;
  				text-decoration: underline;
			}
			.theme:hover {
				cursor: pointer;
  				text-decoration: underline;
			}
			.sel {
				cursor: pointer;
				-moz-appearance: none;
				-webkit-appearance:none;
				appearance: none;
			}

			/* vertical or horizontal screen */
			@media only screen and (max-width: 800px) { /* vertical */
				#logo {
					width: 9vw;
					height: 9vw;
				}
				#option {
					width: 8vw;
					height: 8vw;
				}
				#stat_td {
					bottom: 0;
					right: 0;
					width: 50vw;
					height: 230px;
					flex-direction: row;
				}
				#solve_table {
					height: 230px;
					border: none; 
					border-width: 1px;
					text-align: left;
					padding-left: 3px;
					padding-right: 3px;
					line-height: 1.5;
				}
				#times_container {
					height: 140px;
				}
				.statTd_td {
					background: inherit;
					font-size: 12px;
				}
				#scram_td {
					top: 0;
					right: 0;
					width: 85vw;
					padding-top: 3%;
					padding-bottom: 1%;
				}
				#scram_con {
					padding-right: 5%;
					padding-left: 5%;
					min-height: 6vh;
					max-height: 35vh;
					vertical-align: center;
					text-align: center;
				}
				#draw_scram_dialog {
					position: fixed;
					bottom: 1px;
					left: 5%;
				}
				#time_td {
					position: fixed;
					width: 100%;
					height: 100%;
					font-size: 90px;
					padding-top: 15vh;
				}
				#about_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 80vw;
					height: 60vh;
				}
				#option_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 80vw;
					height: 60vh;
				}
				#stat_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 90vw;
					height: 70vh;
					opacity: 0.99;
				}
			}

			@media only screen and (min-width: 801px) { /* horizontal */
				#logo {
					width: 4.5vw;
					height: 4.5vw;
				}
				#option {
					width: 4vw;
					height: 4vw;
				}
				#stat_td {
					position: fixed;
					top: 0;
					right: 0;
					width: 200px;
					height: 100vh;
					flex-direction: column;
					padding-top: 10px;
				}
				#solve_table {
					height: 310px;
					width: 196px;
					border: none;
					text-align: left;
					padding: 0;
					line-height: 1.5;
				}
				#times_container {
					height: 67%;
				}
				#scram_td {
					bottom: 0;
					left: 0;
					width: calc(100vw - 200px);
					padding-top: 3%;
					padding-bottom: 1%;
				}
				#scram_con {
					margin: auto;
					width: 50%;
					min-height: 6vh;
					max-height: 35vh;
					vertical-align: center;
					text-align: center;
				}
				#draw_scram_dialog {
					position: fixed;
					bottom: 20px;
					left: 40px;
				}
				#time_td {
					position: fixed;
					width: 100%;
					height: 100%;
					font-size: 150px;
					padding-top: 15vh;
				}
				#about_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 80vh;
					height: 60vh;
				}
				#option_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 80vh;
					height: 60vh;
				}
				#stat_dialog {
					top: 20%;
					padding-top: 0px;
					border-width: 2px;
					width: 90vh;
					height: 70vh;
					opacity: 0.99;
				}
			}

/* this is for loading screen */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #FFFFFF;

	display: flex;
	justify-content: center;
	align-items: center;
}